.App {
  text-align: center;
}

.calc-body {
  max-width: 400px;
  margin: auto;
}

.result {
  height: 60px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px ;
  background-color: rgb(70, 34, 34);
  width: 100%;
}
.result p {
  font-size: 40px;
  color:rgb(241, 237, 237);
}
.buttons {
  display: block;
  background-color:rgb(73, 54, 54);
}
.buttons button {
width: 25%;
height: 40px;
font-size: 25px;
color:#fff;
background-color:rgb(73, 54, 54);
}